@import "~bootstrap/scss/bootstrap.scss";

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
select:focus,
a:focus,
.btn:active,
.btn.active
{
  outline:0 !important;
  -webkit-appearance:none;
  box-shadow: none !important;
}

.cursor-pointer {
  cursor: pointer;
}
